/* CategoryItem.css */

.category-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  margin-bottom: 40px;
  border-bottom: 1px solid #4ECDC44D;
  width: 100%;
}

.category-name {
  margin-bottom: 0rem;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
}

.slider-fill,
.slider-fill-overbudget {
  position: absolute;
  height: 15px;
  z-index: 1;
}

.slider-fill {
  background-color: green !important;
}

.slider-fill-overbudget {
  background-color: red !important;
  z-index: 2;
}

.slider-container {
  display: flex;
  align-items: center;
  width: 75%;
  padding-left: 20px;
  margin-top: 0;
}

.category-icon {
  width: 90px;
  height: 60px;
  margin-right: 3.5rem;
  margin-top: 0;
}

.slider-wrapper {
  position: relative;
  height: 40px;
}

.slider-style {
  -webkit-appearance: none;
  width: 150%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  position: relative;
  top: 20px;
  z-index: 1;
}

.slider-style::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 15px solid #1A535C;
  cursor: pointer;
  position: relative;
  top: -15px;
}

.thumb-value {
  position: absolute;
  top: -10px;
  left: 9%;
  transform: translateX(-50%);
  background-color: transparent;
  font-weight: bold;
  color: #1A535C;
  z-index: 3;
}

.category-list {
  display: flex;
  flex-direction: column;
  overflow: hidden !important;
  padding-bottom: 50px;
}
