/* ConnectBank.css */
.connect-bank-container {
  background-color: #4ECDC4; /* Use the same background color */
  background-image: url('/home/spuser/plaid/LYBM-BE/frontend/src/assets/seedling.svg'); /* Add this line for the background image */
  height: 100vh; /* Full height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; /* Distribute space evenly */
  text-align: center;
  color: #fff; /* White text color */
  padding: 20px;
  position: relative; /* Needed for absolute positioning of children */
}

.progress-indicator {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
}

.progress-step {
  background-color: #fff;
  color: #4ECDC4;
  padding: 5px 5px;
  border-radius: 15px;
  margin: 0 5px;
  width: 80%; 
  cursor: pointer;
}

.progress-step.active {
  background-color: #ff6b6b;
  color: #fff;
}

.connect-bank-icon {
  margin-bottom: 20px;
  align-self: center; /* Add this line to center the icon */
}

.content-icon {
  margin: 20px 0;
  align-self: center; /* Add this line to center the icon */
}

.connect-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.connect-button, .skip-button, .back-button {
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 12px 30px;
  margin: 10px;
  cursor: pointer;
  font-weight: bold;
  width: 80%;
  max-width: 250px;
  align-self: center;
}
.progress-step.active {
  background-color: #1A535C;
  ; /* Change to green when active */
  color: #fff;
}

/* Add these styles for swiping effect */
.progress-indicator {
  transition: transform .5s ease-in-out;
}

.swipe-left {
  transform: translateX(-100%);
}

.swipe-right {
  transform: translateX(100%);
}