/* ConnectBank.css */
.connect-bank-container {
  background-color: #4ECDC4;
  background-image: url('/home/spuser/plaid/LYBM-BE/frontend/src/assets/seedling.svg');
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Change this to space-between to push the navbar to the bottom */
  text-align: center;
  color: #fff;
  padding: 20px;
  position: relative; /* Keep this to position the navbar at the bottom */
  padding-bottom: 60px;
  background-size: contain; /* Adjusts the size of the background image to fit within the container */
  background-repeat: no-repeat; /* Ensures the background image does not repeat */
  background-position: center center; /* Centers the background image */ /* Add this to prevent the navbar from overlapping content */
}
.progress-indicator {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
}
.progress-step {
  background-color: #fff;
  color: #4ECDC4;
  padding: 5px 5px;
  border-radius: 15px;
  margin: 0 5px;
  width: 80%; 
  height: 15px;
  cursor: pointer;
}
.progress-step.active {
  background-color: #1A535C;
  color: #fff;
}
.connect-bank-icon {
  margin-bottom: 20px;
  align-self: center;
}
.content-icon {
  margin: 20px 0;
  align-self: center;
}
.connect-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.connect-button, .skip-button, .back-button {
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 12px 30px;
  margin: 10px;
  cursor: pointer;
  font-weight: bold;
  width: 80%;
  max-width: 250px;
  align-self: center;
}
.progress-indicator {
  transition: transform .5s ease-in-out;
}
.swipe-left {
  transform: translateX(-100%);
}
.swipe-right {
  transform: translateX(100%);
}
.navbar.connect-navbar {
  position: fixed; /* Make the navbar fixed */
  bottom: 0; /* Position it at the bottom */
  left: 0;
  right: 0;
}
.svg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
}
.connect-bank-icon, .content-icon {
  margin-bottom: 20px;
}
/* Add this to create space between the images */
.svg-container img:first-child {
  margin-bottom: 60px; /* Adjust this value as needed */
}
.step-label {
  position: absolute;
  top: -20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  color: #fff; /* Adjust color as needed */
  text-transform: uppercase;
}
