/* Nav.css */
nav {
  justify-content: center;
  border-bottom: 1px solid #1A535C;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a.active {
  text-decoration: underline;
}

.date-icon {
  position: relative;
}

.date {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #1A535C;
  position: absolute;
  top: 65%; /* Adjust as needed */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
}

.avatar-link {
  margin-left: auto;
  margin-right: 20px;
}

.auth-links {
  margin-left: auto;
}


/* ...existing styles... */

.notification-banner {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000 !important; /* Increase this value to ensure it appears above the nav bar */
  transform: translateY(-100%); /* Start off-screen */
  transition: transform 0.5s ease-out; /* Add a transition */
}

.notification-banner.show {
  transform: translateY(0); /* Move on-screen when the 'show' class is added */
}

.notification-banner.hide {
  transform: translateY(-100%); /* Move off-screen when the 'hide' class is added */
}


