.NavWithDrawer a {
  text-decoration: none;
  color: black;
}

.NavWithDrawer a.active {
  text-decoration: underline;
}

.NavWithDrawer {
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  background-color: #F7FFF7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px; /* Adjust this value according to your needs */
  border-top: 1px solid #4ECDC44D; /* Top border */
  box-shadow: 2px 0px 9px 0px #4ECDC440; /* Box shadow */
}


.icon-container {
  position: relative;
  margin: 0 10px; /* Space on the left and right side of each icon */
}

.blob-icon {
  position: absolute;
  z-index: -1;
  /* Adjust these values to position the blob correctly */
  top: 14px;
  left: -4px;
}
