/* Welcome.css */
body {
  margin: 0;
  padding: 0;
  background-color: #4ECDC4; /* Background color for the entire page */
  background-image: url('/home/spuser/plaid/LYBM-BE/frontend/src/assets/seedling.svg'); /* Updated path to the new vector background image */
  background-size: cover; /* Ensure the vector image covers the entire page */
  background-repeat: no-repeat; /* Prevent the vector from repeating */
}

.welcome-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-container img {
  margin-bottom: 20px;
}

.welcome-sign img {
  margin-bottom: 40px;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.get-started {
  background-color: #ff6b6b; /* Color for the 'Get Started' button */
  border: none;
  border-radius: 20px; /* Rounded corners for the button */
  padding: 10px 30px; /* Reduced padding for a smaller button */
  margin: 20px 0; /* Space above and below the button */
  color: #fff;
  cursor: pointer;
  font-size: 16px; /* Adjusted font size for the button */
  font-weight: bold;
}

.skip {
  background-color: transparent; /* Transparent background for 'Skip' button */
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px; /* Font size for 'Skip' button */
  margin-bottom: 20px; /* Space at the bottom */
}
