.add-goal-button {
  width: 106px !important;
  height: 48px !important;
  border-radius: 50px !important;
  background-color: #FF6B6B !important;
  color: white;
  position: absolute !important;
  right: 0 !important;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px; /* Adjust as needed */
}
