.home-page {
  width: 100% !important;
  height: 100%; /* Change from auto to 100% */
  overflow: visible; /* Change from auto to visible */
  padding-bottom: 0; /* Change from 50px to 0 */
  display: grid;
 
  grid-gap: 0; /* Change from -5px to 0 */
}

@media (max-width: 600px) {
  .home-page {
    grid-template-columns: 1fr;
  }
}

.category-list {
  display: flex;
  flex-direction: column;
  overflow: visible; /* Change from auto to visible */
  padding-bottom: 0;
}
